.label-with-border_black {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-padding: 0px;
    -fx-border-radius: 10px;
    -fx-alignment: center;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}
.label-with-border_red {
    -fx-background-color: transparent;
    -fx-border-color: red;
    -fx-border-width: 4px;
    -fx-padding: 0px;
    -fx-border-radius: 10px;
    -fx-alignment: center;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.background-howtoplay {
    -fx-background-color: lightblue;
}

.text-howtoplay {
    -fx-font-size: 16px;
    -fx-font-weight: 300;
}

.middle {
    -fx-alignment: center;
}